table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.center {
    /* border: 5px solid #FFFF00; */
    text-align: center;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

li {
    font-size: 19px;
}

footer {
    font-size: 14px;
    line-height: 0.8;
}

th, td {
    padding: 15px;
}