<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    <footer class="center">
        <br><br>
        <hr>
        <p>Author: Zezheng James Xu</p>
        <p>Contact: zx2370@columbia.edu</p>
        <a href="../">Homepage</a><br><br>
    </footer>
</body>

</html>