{% extends 'base.html' %}

{% block head %}
<title>Homepage</title>
{% endblock %}

{% block body %}

<div class="content center">
    <h1>Data Driven Methods in Finance</h1>
    <hr>
    <h2>Table of Contents</h2><br>
    <ul class="no-bullets">
        <li><a href="groups">Groups Info</a></li><br>
        <li><a href="submit">Submit new portfolio</a></li><br>
        <li><a href="portfolios">Check existing portfolios</a></li><br>
        <li><a href="performance">Portfolio Performances and Rankings</a></li><br>
    </ul>
</div>
{% endblock %}