{% extends 'base.html' %}

{% block head %}
<title>Performance Results</title>
{% endblock %}

{% block body %}
<div class="content center">
    <h1>Portfolios Performance Results</h1><br>
    <table class="center">
        <tr>
            <th>Sub. ID</th>
            <th>Group ID</th>
            <th>Group Name</th>
            <th>Overall Rank</th>
            <th>Forecast Rank</th>
            <th>Ranked Prob. Score</th>
            <th>Decision Rank</th>
            <th>Info.Ratio</th>
            <th>Portfolio Return</th>
            <th>Return Std. Dev.</th>
        </tr>
        {% for performance in performances %}
        <tr>
            <td>{{ performance[0].submission_id }}</td>
            <td>{{ performance[0].group_id }}</td>
            <td>{{ performance[1] }}</td>
            <td>{{ performance[2].o_rank }}</td>
            <td>{{ performance[2].f_rank }}</td>
            <td>{{ "%.4f"|format(performance[0].rps) }}</td>
            <td>{{ performance[2].d_rank }}</td>
            <td>{{ "%.4f"|format(performance[0].ir) }}</td>
            <td>{{ "%.4f"|format(performance[0].ret) }}</td>
            <td>{{ "%.4f"|format(performance[0].sdp) }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}