{% extends 'base.html' %}

{% block head %}
<title>Portfolio Info</title>
{% endblock %}

{% block body %}
<div class="content center">
    <h1>Current Portfolio Info</h1>
    <h5>Group ID: {{ portfolios[0].group_id }}</h5>
    <h5>Submission ID: {{ portfolios[0].submission_id }}</h5>
    <table class="center">
        <tr>
            <th>Symbol/ID</th>
            <th>Rank 1</th>
            <th>Rank 2</th>
            <th>Rank 3</th>
            <th>Rank 4</th>
            <th>Rank 5</th>
            <th>Decision</th>
        </tr>
        {% for portfolio in portfolios %}
        <tr>
            <td>{{ portfolio.symbol }}</td>
            <td>{{ portfolio.rank1 | round(2) }}</td>
            <td>{{ portfolio.rank2 | round(2) }}</td>
            <td>{{ portfolio.rank3 | round(2) }}</td>
            <td>{{ portfolio.rank4 | round(2) }}</td>
            <td>{{ portfolio.rank5 | round(2) }}</td>
            <td>{{ portfolio.decision | round(3) }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}