{% extends 'base.html' %}

{% block head %}
<title>Homepage</title>
{% endblock %}

{% block body %}

<div class="content center">
    <h1>Data Driven Methods in Finance</h1>
    <h3>Table of Contents</h3>
    <ul class="no-bullets">
        <li><a href="groups">Groups Info</a></li>
        <li><a href="portfolios">Check current portfolios</a></li>
        <li><a href="submit">Submit new portfolio</a></li>
        <li><a href="performance">Individual Performance</a></li>
        <li><a href="ranks">Overall Ranking</a></li>
    </ul>
</div>
{% endblock %}