{% extends 'base.html' %}

{% block head %}
<title>Submissions Summary</title>
{% endblock %}

{% block body %}
<div class="content center">
    <h1>Submissions Info</h1>
    <h3>Received Submissions So Far</h3><br>
    <table class="center">
        <tr>
            <th>Group ID</th>
            <th>Group Name</th>
            <th>Submission ID</th>
            <th>Action</th>
        </tr>
        {% for submission in submissions %}
        <tr>
            <td>{{ submission[0] }}</td>
            <td>{{ submission[1] }}</td>
            <td>{{ submission[2] }}</td>
            <td>
                <a href="/portfolio/g{{submission[0]}}/s{{submission[2]}}">View</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr><br>
    <h3><a href="../portfolios">Back to portfolio inquiry</a></h3>
</div>
{% endblock %}